
{% load static %}

<footer class="bg-gray-50 lg:p-20 p-10">
    <section class="container mx-auto">
        <div class="sm:grid justify-between sm:grid-cols-2 lg:grid-cols-4">
            <div class="flex gap-5 flex-col">
                <img class="h-6 w-1/2" src="https://rabiulislam.dev/documents/images/portfolio/portfolio.png" alt="logo" />
                <p>Portfolio is a kind of identity of yourself</p>
            </div>

            <div class="mt-10 sm:mt-0">
                <h3 class="text-xl font-bold">Quick links</h3>
                <ul>
                    <li class="m-3 hover:text-gray-500"><a href="#about">About</a></li>
                    <li class="m-3 hover:text-gray-500"><a href="#services">Services</a></li>
                    <li class="m-3 hover:text-gray-500"><a href="#portfolio">Portfolio</a></li>
                    <li class="m-3 hover:text-gray-500"><a href="#contact">Contact</a></li>
                </ul>
            </div>

            <div class="mt-10 sm:mt-0">
                <h3 class="text-xl font-bold">Quick links</h3>
                <ul>
                    <li class="m-3 hover:text-gray-500"><a href="#about">About</a></li>
                    <li class="m-3 hover:text-gray-500"><a href="#services">Services</a></li>
                    <li class="m-3 hover:text-gray-500"><a href="#portfolio">Portfolio</a></li>
                    <li class="m-3 hover:text-gray-500"><a href="#contact">Contact</a></li>
                </ul>
            </div>

            <div class="mt-10 sm:mt-0">
                <h3 class="text-xl font-bold">Quick links</h3>
                <ul>
                    <li class="m-3 hover:text-gray-500"><a href="#about">About</a></li>
                    <li class="m-3 hover:text-gray-500"><a href="#services">Services</a></li>
                    <li class="m-3 hover:text-gray-500"><a href="#portfolio">Portfolio</a></li>
                    <li class="m-3 hover:text-gray-500"><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </section>
</footer>