{% load static %}

<div class="bg-gray-950 text-white">

  <div class="flex overflow-hidden bg-gray-200">
    <!-- Sidebar -->
    <div
      class="absolute bg-gray-800 sm:w-5/6 min-h-screen overflow-y-auto transition-transform transform -translate-x-full ease-in-out duration-500 z-10"
      id="sidebar">
      <!-- Your Sidebar Content -->
      <div class="p-4 ">
        <h1 class="text-4xl font-semibold">Tanjusay</h1>
        <ul class="mt-4">
          <li class="mb-2"><a href="/" class="block hover:text-indigo-400">Home</a></li>
          <li class="mb-2"><a href="/profile/" class="block hover:text-indigo-400">About</a></li>
          <li class="mb-2"><a href="/projects/" class="block hover:text-indigo-400">Portfolio</a></li>
          <li class="mb-2"><a href="/contact/" class="block hover:text-indigo-400">Contact</a></li>
        </ul>
      </div>
    </div>

    <!-- Content -->
    <div class="flex-1 flex flex-col overflow-hidden w-screen absolute text-white">
      <!-- Navbar -->
      <div class="bg-slate-50 bg-opacity-5 shadow">
        <div class="container mx-auto">
          <div class="flex justify-between items-center py-4 px-2">
            <h1 class="text-xl font-semibold">Animated Drawer</h1>

            <button class=" hover:text-gray-100 sm:block  md:hidden" id="open-sidebar">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
              </svg>
            </button>

            <ul class="mt-4 flex gap-3 sm:hidden md:inline-flex">
              <li class="mb-2"><a href="/" class="block hover:text-indigo-400">Home</a></li>
              <li class="mb-2"><a href="/profile/" class="block hover:text-indigo-400">About</a></li>
              <li class="mb-2"><a href="/projects/" class="block hover:text-indigo-400">Portfolio</a></li>
              <li class="mb-2"><a href="/contact/" class="block hover:text-indigo-400">Contact</a></li>
            </ul>


          </div>
        </div>
      </div>
      <!-- Content Body -->
   
  </div>

  <script defer src="{% static 'src/nav-slider.js' %}"></script>

</div>
