{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}a django portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'src/styles.css' %}" />
    <script defer src="{% static 'src/htmx.min.js' %}"></script>
    
  </head>

  <body class="">
    <div class="h-screen relative text-zinc-600 bg-gradient-to-b from-zinc-50 to-zinc-100 overflow-y-scroll overflow-x-hidden">
      {% include "base/nav.html" %}
    

      <div class="blur-[500px] rounded-full fixed top-[50%] left-[50%] overflow-hidden block w-96 h-80 bg-pink-600 bg-opacity-70">hello</div>
      <div class="blur-[900px] rounded-full fixed top-[40%] left-[40%] overflow-hidden block w-96 h-80 bg-green-700 bg-opacity-70">hello </div>


      <div id="content" class="bg-gray-900 text-white">
      {% block content %} {% endblock content %}

      </div>



      

    </div>
 

  </body>
</html>
