{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}a django portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'src/styles.css' %}" />
    <script defer src="{% static 'src/htmx.min.js' %}"></script>
  </head>

  <body class="">
    <div
      class="h-screen text-zinc-600 bg-gradient-to-b from-zinc-50 to-zinc-100 overflow-y-scroll">
      {% include "base/nav.html" %}

      {% block content %} {% endblock content %}

    </div>
  </body>
</html>
