{% extends "base.html" %}

{% block title %}projects{% endblock %}

{% block content %}
<main class="h-screen flex flex-col items-center">
  <!-- portfolio -->
  <section class="lg:p-20 " id="portfolio">
      <div class="lg:container mx-auto">
          <h2 class="text-center text-4xl font-bold pb-10">Portfolio</h2>
          <div class="lg:columns-4 sm:columns-2">
              <div class="p-5 bg-gray-50 sm:me-5 sm:mb-10 mb-5 rounded-md hover:shadow-md">
                  <h3 class="text-xl mb-5">Food Delivery</h3>
                  <img class="rounded-md h-48 max-h-48 w-full" src="" />
              </div>

              <div class="p-5 bg-gray-50 sm:me-5 sm:mb-10 mb-5 rounded-md hover:shadow-md">
                  <h3 class="text-xl mb-5">CMS</h3>
                  <img class="rounded-md h-48 max-h-48 w-full" src="" />
              </div>

              <div class="p-5 bg-gray-50 sm:me-5 sm:mb-10 mb-5 rounded-md hover:shadow-md">
                  <h3 class="text-xl mb-5">LMS</h3>
                  <img class="rounded-md h-48 max-h-48 w-full" src="" />
              </div>

              <div class="p-5 bg-gray-50 sm:me-5 sm:mb-10 mb-5 rounded-md hover:shadow-md">
                  <h3 class="text-xl mb-5">SDR</h3>
                  <img class="rounded-md h-48 max-h-48 w-full" src="" />
              </div>

              <div class="p-5 bg-gray-50 sm:me-5 sm:mb-10 mb-5 rounded-md hover:shadow-md">
                  <h3 class="text-xl mb-5">VetQ</h3>
                  <img class="rounded-md h-48 max-h-48 w-full" src="" />
              </div>

              <div class="p-5 bg-gray-50 sm:me-5 sm:mb-10 mb-5 rounded-md hover:shadow-md">
                  <h3 class="text-xl mb-5">Ismile</h3>
                  <img class="rounded-md h-48 max-h-48 w-full" src="" />
              </div>

              <div class="p-5 bg-gray-50 sm:me-5 sm:mb-10 mb-5 rounded-md hover:shadow-md">
                  <h3 class="text-xl mb-5">Ehaul</h3>
                  <img class="rounded-md h-48 max-h-48 w-full" src="" />
              </div>

              <div class="p-5 bg-gray-50 sm:me-5 sm:mb-10 mb-5 rounded-md hover:shadow-md">
                  <h3 class="text-xl mb-5">Feedback</h3>
                  <img class="rounded-md h-48 max-h-48 w-full" src="" />
              </div>
          </div>
      </div>
  </section>
  <!-- section -->
  
</main>

{% endblock content %}

